ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}
.suny{
    background: #C4F0EB;
}
.cuny{
    
}
.private{
    
}
h1{
   color: #7999BF; 
}
